/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* reset css end  */

/* basic css */
.container{
    padding-inline:2em;
    max-width: 1150px;
    margin: 0 auto;
}
.flex{
    display:flex;
    gap:var(--gap,1em);
    flex-wrap: wrap;
}
.column{
  flex-direction:column;
}
.flex>*{
  width:200px;
  flex-grow: 1;
  outline: 2px solid red;
}

.child-one{
  background-color: hsl(190,88%,90%);
}
.child-two{
  background-color: hsl(190,88%,80%);
}
.child-three{
  background-color: hsl(190,88%,70%);
}
.child-four{
  background-color: hsl(190,88%,60%);
}
.child-five{
  background-color: hsl(190,50%,50%);
}
.child-six{
  background-color: hsl(190,88%,40%);
}
section{
  margin-top: 2rem;
  padding: 1rem;
}
.template{
  background: hsl(80,30%,60%);
}
.templateTwo-child-one{
  width: 100px;
   height: 300px;
}
.templateTwo-child-two{
    flex-direction: column;
    flex-wrap: wrap;
}
.templateTwo-child-two > *{
  width: 100%;
  flex-grow: 1;
  flex-shrink:1
}
.templateTwo-subchildOne{
  width: 100%;
  flex-grow: 1;
  flex-shrink:1
}
.subchildOne{
  background-color: hsl(190,100%,50%);
}
.subchildOne--two{
  flex-basis:30%;
  flex-grow: 1;
}
.sub3-child{
  background-color:hsl(190,90%,30%);
}

.subchild2{
  background-color:rgba(23, 112, 130, 0.363);
}
.subchild2-one{
  flex-basis:20%;
  flex-grow: 1;
  background-color:hsl(190,78%,50%);
}

/* grid */
.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:2fr 2fr 1fr 1fr 2fr;
  grid-gap:.4rem;
  
}
@media(min-width:65em){
  .grid{
    border:3px solid green;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:  minmax(100px,1fr) minmax(200px,1fr);
  grid-gap:.4rem;
  
}
.grid>.child-one{
    grid-column: 1/2;
    grid-row:1/3;
}
.grid>.child-two{
    grid-column: 2/4;
    grid-row:1/1;
}
.grid>.child-five{
  grid-column:3/5 ;
}
}
/* ================== */
.gridarea{
 display: grid;
 grid-template-columns:1fr 1fr 1fr .2fr 1fr;
 grid-template-rows:repeat(2,minmax(100px,1fr) ) ;
 grid-template-areas: 
      'child-one child-one child-two child-three child-three' 
      'child-one child-one child-four  child-four child-five' ;
      
}
.gridarea>.child-one{
  grid-area: child-one;
  
}
.gridarea>.child-two{
  grid-area: child-two;
}
.gridarea>.child-three{
  grid-area:child-three;
}
.gridarea>.child-four{
  grid-area: child-four;
}
.gridarea>.child-five{
  grid-area:child-five;
}